<h1>Records</h1>

<%= render 'share_header' %>

<% @shares.each do |share| %>
  <%= render :partial => 'view', :locals => { :share => share } %>
<% end %>
</table>

<br />

<%= link_to 'New Share', new_share_path %>
