<h1>Shares</h1>

<%= render :layout => 'share_header' do %>
  <% @shares.each do |share| %>
    <%= render share %>
  <% end %>
<% end %>

<%
  qs = '?format=csv'
  qs = qs + "&patient_id=#{params[:patient_id]}" if params[:patient_id]
%>

<%= link_to 'Export', shares_path + qs, :class => 'btn btn-info info', :title => 'View a list of all shared records for this patient' %>
