<h1>Shares</h1>

<%= render :layout => 'share_header' do %>
  <% @shares.each do |share| %>
    <%= render share %>
  <% end %>
<% end %>

<%= link_to 'Export', shares_path, :class => 'btn btn-info info', :title => 'View a list of all shared records for this patient' %>
