<center>
  <h1>
    <%= @user.email %>
  </h1>
</center>

<p>
</p>

<%= render 'subscriptions/user' %>

<% if @user.active_subscription %>
  <%= link_to 'Cancel subscription', cancel_user_path %>
<% else %>
  <%= link_to 'Subscribe', new_subscription_path %>
<% end %>

