<h1>Contacts</h1>

<table width='60%'>
  <tr>
    <th>Contact</th>
    <th>Confirmed</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.user.username, contact %></td>
    <td><%= contact.confirmed.to_s %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
