        <div id="span7">
          <label class="btn btn-success fileinput-button">
            <span><i class="icon-plus icon-white"></i> add files...</span>
          </label>
          <!--button type="submit" class="btn btn-primary start"><i class="icon-upload icon-white"></i> start upload</button>
          <button type="reset" class="btn btn-warning cancel"><i class="icon-ban-circle icon-white"></i> cancel upload</button>
          <button type="button" class="btn btn-danger delete"><i class="icon-trash icon-white"></i> delete files</button>
          <input type="checkbox" class="toggle"-->
        </div>


