<script id="template-record-set" type="text/x-tmpl">
  {% for(var i=0, recordSets=o.record_sets, l=recordSets.length, recordSet=recordSets[0]; i<l; recordSet=recordSets[++i]) { %}
  <tr class="record-set fade in">
    <td><a href="{%=recordSet.show_url%}">{%=recordSet.name%}</td>
    <td>{%=recordSet.description%}</td>
    <td>{%=recordSet.created_at%}</td>
    <td>0</td>
    <td>
      <a class="btn btn-success" href="{%=recordSet.show_url%}">Show</td>
    <td>
      <a class="btn btn-danger delete" data-type="{%=recordSet.delete_type%}" href="{%=recordSet.delete_url%}" rel="nofollow" data-confirm="Are you sure?">Destroy</td>
    </tr>
  {% } %}
</script>

