<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      <%= @sender.name %> would like to share records with you.
    </h1>
    <p>
      To retreive them, just follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
