<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
</head>
<body>
  <p style="font-size:64px; color:#d44413; font-family: 'Allura', cursive;">
    <strong>
      Hippo
    </strong>
  </p>
    <h1>
      <%= @sender.username %> would like to share records with you.
    </h1>
    <p>
      To retreive them, just follow  
      <%= link_to 'this link.',{ :host => 'hippo.flunkyism.com', 
        :controller => 'shares',
        :action => 'show',
        :auth_token => @recipient.user.get_token,
        :id => @share.id } %>
      </p>
      <p>Thanks and have a great day!</p>
    </body>
  </html>
